<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207114269782-013m4idgok18cs34o0gt0k9426gee95h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207114269782-013m4idgok18cs34o0gt0k9426gee95h</string>
	<key>API_KEY</key>
	<string>AIzaSyCoyxdRkWI3tBUah0h3dEm_u20NUL4GKC0</string>
	<key>GCM_SENDER_ID</key>
	<string>207114269782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antoree.teacher.beta</string>
	<key>PROJECT_ID</key>
	<string>antoree-beta</string>
	<key>STORAGE_BUCKET</key>
	<string>antoree-beta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207114269782:ios:f41dcae868aa6d00b137f7</string>
	<key>DATABASE_URL</key>
	<string>https://antoree-beta.firebaseio.com</string>
</dict>
</plist>